<!doctype html>
<html lang="ar" dir="rtl">
<head>
<title>test</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="appstyle.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="body">

<div id="animate" v-if="animation">
<div class="container">
        <svg viewBox="0 0 100% 100%">
            <defs>
              <clipPath id="clip-path">
                <rect width="24" height="20" fill="none"/>
              </clipPath>
            </defs>
            <g id="illus" transform="translate(227.429 219.193)">
            <g class="whole-card">
              <rect id="Rectangle_1139" class="card-bg" data-name="Rectangle 1139" width="366" height="444" rx="5" transform="translate(1279.115 314.613) rotate(30)" fill="#525252"/>
              <path id="Path_40" class="card-top" data-name="Path 40" d="M5,0H361a5,5,0,0,1,5,5V187H0V5A5,5,0,0,1,5,0Z" transform="translate(1279.115 314.613) rotate(30)" fill="#6c6c6c"/>
              <rect class="blip1" id="Rectangle_1141" data-name="Rectangle 1141" width="97" height="21" rx="10.5" transform="translate(1193.256 543.325) rotate(30)" fill="#04a2e4"/>
              <rect class="blip2" id="Rectangle_1142" data-name="Rectangle 1142" width="234" height="21" rx="10.5" transform="translate(1167.256 588.358) rotate(30)" fill="#7b7b7b"/>
              <rect class="blip3" id="Rectangle_1145" data-name="Rectangle 1145" width="158" height="21" rx="10.5" transform="translate(1149.756 618.669) rotate(30)" fill="#7b7b7b"/>
              <rect class="blip4" id="Rectangle_1143" data-name="Rectangle 1143" width="53" height="21" rx="10.5" transform="translate(1263.017 754.497) rotate(30)" fill="#7b7b7b"/>
              <rect class="blip5" id="Rectangle_1144" data-name="Rectangle 1144" width="53" height="21" rx="10.5" transform="translate(1324.504 789.997) rotate(30)" fill="#fff"/>
              <g class="icon" id="iconfinder_picture_1814111_1_" data-name="iconfinder_picture_1814111 (1)" transform="translate(1378.333 442.564) rotate(30)">
                <g id="Icon-Image" transform="translate(278 232)">
                  <path id="Fill-12" d="M-226.2-181.6h-39.5a4.225,4.225,0,0,1-4.2-4.2V-214a4.225,4.225,0,0,1,4.2-4.2h39.5A4.225,4.225,0,0,1-222-214v28.2a4.225,4.225,0,0,1-4.2,4.2Zm-39.6-33.9a1.367,1.367,0,0,0-1.4,1.4v28.2a1.367,1.367,0,0,0,1.4,1.4h39.5a1.367,1.367,0,0,0,1.4-1.4v-28.2a1.367,1.367,0,0,0-1.4-1.4Z" fill="#595959"/>
                  <path id="Fill-13" d="M-238.9-201.5a5.484,5.484,0,0,1-5.5-5.5,5.549,5.549,0,0,1,5.5-5.5,5.549,5.549,0,0,1,5.5,5.5,5.549,5.549,0,0,1-5.5,5.5Zm0-8.5a2.9,2.9,0,0,0-2.9,2.9,2.9,2.9,0,0,0,2.9,2.9,2.9,2.9,0,0,0,2.9-2.9,2.9,2.9,0,0,0-2.9-2.9Z" fill="#595959"/>
                  <path id="Fill-14" d="M-231.4-182.1l-23.1-21.7-13.2,12.2-1.8-1.9,15-13.9,24.9,23.4-1.8,1.9" fill="#595959"/>
                  <path id="Fill-15" d="M-224.2-189.3l-7.7-6.2-6.4,5.3-1.7-2.1,8.1-6.6,9.3,7.6-1.6,2" fill="#595959"/>
                </g>
              </g>
            </g>
              <g id="Group_59" data-name="Group 59" transform="translate(625.109 -1030.616) rotate(30)" opacity="0.36">
                <g id="Rectangle_1146" data-name="Rectangle 1146" transform="translate(1632 796)" fill="none" stroke="#474747" stroke-width="5">
                  <rect width="366" height="444" rx="5" stroke="none"/>
                  <rect x="2.5" y="2.5" width="361" height="439" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_1151" data-name="Rectangle 1151" transform="translate(1665 1073)" fill="none" stroke="#474747" stroke-width="5">
                  <rect width="109" height="138" rx="5" stroke="none"/>
                  <rect x="2.5" y="2.5" width="104" height="133" rx="2.5" fill="none"/>
                </g>
                <path id="Rectangle_1149" data-name="Rectangle 1149" d="M5,0H361a5,5,0,0,1,5,5V57a0,0,0,0,1,0,0H0a0,0,0,0,1,0,0V5A5,5,0,0,1,5,0Z" transform="translate(1632 796)" fill="#474747"/>
                <rect id="Rectangle_1150" data-name="Rectangle 1150" width="151" height="21" rx="10.5" transform="translate(1652 814)" fill="#343434"/>
                <rect id="Rectangle_1148" data-name="Rectangle 1148" width="166" height="21" rx="10.5" transform="translate(1663 896)" fill="#474747"/>
                <rect id="Rectangle_1148-2" data-name="Rectangle 1148" width="299" height="21" rx="10.5" transform="translate(1663 935)" fill="#474747"/>
                <rect id="Rectangle_1148-3" data-name="Rectangle 1148" width="299" height="21" rx="10.5" transform="translate(1663 974)" fill="#474747"/>
                <rect id="Rectangle_1148-4" data-name="Rectangle 1148" width="221" height="21" rx="10.5" transform="translate(1663 1013)" fill="#474747"/>
                <rect id="Rectangle_1148-5" data-name="Rectangle 1148" width="159" height="21" rx="10.5" transform="translate(1803 1073)" fill="#474747"/>
                <rect id="Rectangle_1148-6" data-name="Rectangle 1148" width="104" height="21" rx="10.5" transform="translate(1803 1112)" fill="#474747"/>
                <rect id="Rectangle_1148-7" data-name="Rectangle 1148" width="56" height="21" rx="10.5" transform="translate(1803 1190)" fill="#474747"/>
                <rect id="Rectangle_1152" data-name="Rectangle 1152" width="56" height="21" rx="10.5" transform="translate(1906 1190)" fill="#474747"/>
                <g id="iconfinder_picture_1814111_1_2" data-name="iconfinder_picture_1814111 (1)" transform="translate(1699.156 1117.8)">
                  <g id="Icon-Image-2" data-name="Icon-Image" transform="translate(8.1 13.8)">
                    <path id="Fill-12-2" data-name="Fill-12" d="M-246.737-198.8h-20.937a2.24,2.24,0,0,1-2.226-2.226v-14.947a2.24,2.24,0,0,1,2.226-2.226h20.937a2.24,2.24,0,0,1,2.226,2.226v14.947a2.24,2.24,0,0,1-2.226,2.226Zm-20.99-17.969a.725.725,0,0,0-.742.742v14.947a.725.725,0,0,0,.742.742h20.937a.725.725,0,0,0,.742-.742v-14.947a.725.725,0,0,0-.742-.742Z" transform="translate(269.9 218.2)" fill="#595959"/>
                    <path id="Fill-13-2" data-name="Fill-13" d="M-241.485-206.67a2.907,2.907,0,0,1-2.915-2.915,2.941,2.941,0,0,1,2.915-2.915,2.941,2.941,0,0,1,2.915,2.915,2.941,2.941,0,0,1-2.915,2.915Zm0-4.505a1.538,1.538,0,0,0-1.537,1.537,1.538,1.538,0,0,0,1.537,1.537,1.538,1.538,0,0,0,1.537-1.537,1.538,1.538,0,0,0-1.537-1.537Z" transform="translate(257.916 215.521)" fill="#595959"/>
                    <path id="Fill-14-2" data-name="Fill-14" d="M-249.305-193.99l-12.244-11.5-7,6.467-.954-1.007,7.951-7.368,13.2,12.4-.954,1.007" transform="translate(269.712 213.124)" fill="#595959"/>
                    <path id="Fill-15-2" data-name="Fill-15" d="M-231.625-193.812l-4.081-3.286-3.392,2.809-.9-1.113,4.293-3.5,4.929,4.028-.848,1.06" transform="translate(255.848 209.13)" fill="#595959"/>
                  </g>
                </g>
              </g>
              <g id="Group_62" data-name="Group 62" transform="translate(-625.434 -1222.61) rotate(30)" opacity="0.36">
                <g id="Rectangle_1146-2" data-name="Rectangle 1146" transform="translate(1632 796)" fill="none" stroke="#474747" stroke-width="5">
                  <rect width="366" height="444" rx="5" stroke="none"/>
                  <rect x="2.5" y="2.5" width="361" height="439" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_1151-2" data-name="Rectangle 1151" transform="translate(1665 1073)" fill="none" stroke="#474747" stroke-width="5">
                  <rect width="109" height="138" rx="5" stroke="none"/>
                  <rect x="2.5" y="2.5" width="104" height="133" rx="2.5" fill="none"/>
                </g>
                <path id="Rectangle_1149-2" data-name="Rectangle 1149" d="M5,0H361a5,5,0,0,1,5,5V57a0,0,0,0,1,0,0H0a0,0,0,0,1,0,0V5A5,5,0,0,1,5,0Z" transform="translate(1632 796)" fill="#474747"/>
                <rect id="Rectangle_1150-2" data-name="Rectangle 1150" width="151" height="21" rx="10.5" transform="translate(1652 814)" fill="#343434"/>
                <rect id="Rectangle_1148-8" data-name="Rectangle 1148" width="166" height="21" rx="10.5" transform="translate(1663 896)" fill="#474747"/>
                <rect id="Rectangle_1148-9" data-name="Rectangle 1148" width="299" height="21" rx="10.5" transform="translate(1663 935)" fill="#474747"/>
                <rect id="Rectangle_1148-10" data-name="Rectangle 1148" width="299" height="21" rx="10.5" transform="translate(1663 974)" fill="#474747"/>
                <rect id="Rectangle_1148-11" data-name="Rectangle 1148" width="221" height="21" rx="10.5" transform="translate(1663 1013)" fill="#474747"/>
                <rect id="Rectangle_1148-12" data-name="Rectangle 1148" width="159" height="21" rx="10.5" transform="translate(1803 1073)" fill="#474747"/>
                <rect id="Rectangle_1148-13" data-name="Rectangle 1148" width="104" height="21" rx="10.5" transform="translate(1803 1112)" fill="#474747"/>
                <rect id="Rectangle_1148-14" data-name="Rectangle 1148" width="56" height="21" rx="10.5" transform="translate(1803 1190)" fill="#474747"/>
                <rect id="Rectangle_1152-2" data-name="Rectangle 1152" width="56" height="21" rx="10.5" transform="translate(1906 1190)" fill="#474747"/>
                <g id="iconfinder_picture_1814111_1_3" data-name="iconfinder_picture_1814111 (1)" transform="translate(1699.156 1117.8)">
                  <g id="Icon-Image-3" data-name="Icon-Image" transform="translate(8.1 13.8)">
                    <path id="Fill-12-3" data-name="Fill-12" d="M-246.737-198.8h-20.937a2.24,2.24,0,0,1-2.226-2.226v-14.947a2.24,2.24,0,0,1,2.226-2.226h20.937a2.24,2.24,0,0,1,2.226,2.226v14.947a2.24,2.24,0,0,1-2.226,2.226Zm-20.99-17.969a.725.725,0,0,0-.742.742v14.947a.725.725,0,0,0,.742.742h20.937a.725.725,0,0,0,.742-.742v-14.947a.725.725,0,0,0-.742-.742Z" transform="translate(269.9 218.2)" fill="#595959"/>
                    <path id="Fill-13-3" data-name="Fill-13" d="M-241.485-206.67a2.907,2.907,0,0,1-2.915-2.915,2.941,2.941,0,0,1,2.915-2.915,2.941,2.941,0,0,1,2.915,2.915,2.941,2.941,0,0,1-2.915,2.915Zm0-4.505a1.538,1.538,0,0,0-1.537,1.537,1.538,1.538,0,0,0,1.537,1.537,1.538,1.538,0,0,0,1.537-1.537,1.538,1.538,0,0,0-1.537-1.537Z" transform="translate(257.916 215.521)" fill="#595959"/>
                    <path id="Fill-14-3" data-name="Fill-14" d="M-249.305-193.99l-12.244-11.5-7,6.467-.954-1.007,7.951-7.368,13.2,12.4-.954,1.007" transform="translate(269.712 213.124)" fill="#595959"/>
                    <path id="Fill-15-3" data-name="Fill-15" d="M-231.625-193.812l-4.081-3.286-3.392,2.809-.9-1.113,4.293-3.5,4.929,4.028-.848,1.06" transform="translate(255.848 209.13)" fill="#595959"/>
                  </g>
                </g>
              </g>
              <g id="Group_66" data-name="Group 66" transform="translate(496.262 -1593.445) rotate(30)" opacity="0.36">
                <g id="Rectangle_1146-3" data-name="Rectangle 1146" transform="translate(1632 796)" fill="none" stroke="#474747" stroke-width="5">
                  <rect width="366" height="444" rx="5" stroke="none"/>
                  <rect x="2.5" y="2.5" width="361" height="439" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_1151-3" data-name="Rectangle 1151" transform="translate(1665 1073)" fill="none" stroke="#474747" stroke-width="5">
                  <rect width="109" height="138" rx="5" stroke="none"/>
                  <rect x="2.5" y="2.5" width="104" height="133" rx="2.5" fill="none"/>
                </g>
                <path id="Rectangle_1149-3" data-name="Rectangle 1149" d="M5,0H361a5,5,0,0,1,5,5V57a0,0,0,0,1,0,0H0a0,0,0,0,1,0,0V5A5,5,0,0,1,5,0Z" transform="translate(1632 796)" fill="#474747"/>
                <rect id="Rectangle_1150-3" data-name="Rectangle 1150" width="151" height="21" rx="10.5" transform="translate(1652 814)" fill="#343434"/>
                <rect id="Rectangle_1148-15" data-name="Rectangle 1148" width="166" height="21" rx="10.5" transform="translate(1663 896)" fill="#474747"/>
                <rect id="Rectangle_1148-16" data-name="Rectangle 1148" width="299" height="21" rx="10.5" transform="translate(1663 935)" fill="#474747"/>
                <rect id="Rectangle_1148-17" data-name="Rectangle 1148" width="299" height="21" rx="10.5" transform="translate(1663 974)" fill="#474747"/>
                <rect id="Rectangle_1148-18" data-name="Rectangle 1148" width="221" height="21" rx="10.5" transform="translate(1663 1013)" fill="#474747"/>
                <rect id="Rectangle_1148-19" data-name="Rectangle 1148" width="159" height="21" rx="10.5" transform="translate(1803 1073)" fill="#474747"/>
                <rect id="Rectangle_1148-20" data-name="Rectangle 1148" width="104" height="21" rx="10.5" transform="translate(1803 1112)" fill="#474747"/>
                <rect id="Rectangle_1148-21" data-name="Rectangle 1148" width="56" height="21" rx="10.5" transform="translate(1803 1190)" fill="#474747"/>
                <rect id="Rectangle_1152-3" data-name="Rectangle 1152" width="56" height="21" rx="10.5" transform="translate(1906 1190)" fill="#474747"/>
                <g id="iconfinder_picture_1814111_1_4" data-name="iconfinder_picture_1814111 (1)" transform="translate(1699.156 1117.8)">
                  <g id="Icon-Image-4" data-name="Icon-Image" transform="translate(8.1 13.8)">
                    <path id="Fill-12-4" data-name="Fill-12" d="M-246.737-198.8h-20.937a2.24,2.24,0,0,1-2.226-2.226v-14.947a2.24,2.24,0,0,1,2.226-2.226h20.937a2.24,2.24,0,0,1,2.226,2.226v14.947a2.24,2.24,0,0,1-2.226,2.226Zm-20.99-17.969a.725.725,0,0,0-.742.742v14.947a.725.725,0,0,0,.742.742h20.937a.725.725,0,0,0,.742-.742v-14.947a.725.725,0,0,0-.742-.742Z" transform="translate(269.9 218.2)" fill="#595959"/>
                    <path id="Fill-13-4" data-name="Fill-13" d="M-241.485-206.67a2.907,2.907,0,0,1-2.915-2.915,2.941,2.941,0,0,1,2.915-2.915,2.941,2.941,0,0,1,2.915,2.915,2.941,2.941,0,0,1-2.915,2.915Zm0-4.505a1.538,1.538,0,0,0-1.537,1.537,1.538,1.538,0,0,0,1.537,1.537,1.538,1.538,0,0,0,1.537-1.537,1.538,1.538,0,0,0-1.537-1.537Z" transform="translate(257.916 215.521)" fill="#595959"/>
                    <path id="Fill-14-4" data-name="Fill-14" d="M-249.305-193.99l-12.244-11.5-7,6.467-.954-1.007,7.951-7.368,13.2,12.4-.954,1.007" transform="translate(269.712 213.124)" fill="#595959"/>
                    <path id="Fill-15-4" data-name="Fill-15" d="M-231.625-193.812l-4.081-3.286-3.392,2.809-.9-1.113,4.293-3.5,4.929,4.028-.848,1.06" transform="translate(255.848 209.13)" fill="#595959"/>
                  </g>
                </g>
              </g>
              <g id="Group_56" data-name="Group 56" transform="translate(573.109 -940.549) rotate(30)" opacity="0.36">
                <g id="Rectangle_1172" data-name="Rectangle 1172" transform="translate(64 796)" fill="none" stroke="#474747" stroke-width="5">
                  <rect width="366" height="444" rx="5" stroke="none"/>
                  <rect x="2.5" y="2.5" width="361" height="439" rx="2.5" fill="none"/>
                </g>
                <rect id="Rectangle_1174" data-name="Rectangle 1174" width="366" height="98" rx="5" transform="translate(64 1142)" fill="#474747"/>
                <rect id="Rectangle_1175" data-name="Rectangle 1175" width="166" height="21" rx="10.5" transform="translate(106 913)" fill="#474747"/>
                <g id="Repeat_Grid_2" data-name="Repeat Grid 2" transform="translate(357 848)" clip-path="url(#clip-path)">
                  <g transform="translate(-366 -853)">
                    <rect id="Rectangle_1184" data-name="Rectangle 1184" width="24" height="4" rx="2" transform="translate(366 853)" fill="#474747"/>
                  </g>
                  <g transform="translate(-366 -846)">
                    <rect id="Rectangle_1184-2" data-name="Rectangle 1184" width="24" height="4" rx="2" transform="translate(366 853)" fill="#474747"/>
                  </g>
                  <g transform="translate(-366 -839)">
                    <rect id="Rectangle_1184-3" data-name="Rectangle 1184" width="24" height="4" rx="2" transform="translate(366 853)" fill="#474747"/>
                  </g>
                </g>
                <rect id="Rectangle_1176" data-name="Rectangle 1176" width="243" height="21" rx="10.5" transform="translate(106 952)" fill="#474747"/>
                <rect id="Rectangle_1177" data-name="Rectangle 1177" width="275" height="21" rx="10.5" transform="translate(106 991)" fill="#474747"/>
                <rect id="Rectangle_1178" data-name="Rectangle 1178" width="275" height="21" rx="10.5" transform="translate(106 1052)" fill="#474747"/>
                <rect id="Rectangle_1183" data-name="Rectangle 1183" width="186" height="21" rx="10.5" transform="translate(106 1089)" fill="#474747"/>
                <g id="iconfinder_picture_1814111_1_5" data-name="iconfinder_picture_1814111 (1)" transform="translate(98.156 833.8)">
                  <g id="Icon-Image-5" data-name="Icon-Image" transform="translate(8.1 13.8)">
                    <path id="Fill-12-5" data-name="Fill-12" d="M-246.737-198.8h-20.937a2.24,2.24,0,0,1-2.226-2.226v-14.947a2.24,2.24,0,0,1,2.226-2.226h20.937a2.24,2.24,0,0,1,2.226,2.226v14.947a2.24,2.24,0,0,1-2.226,2.226Zm-20.99-17.969a.725.725,0,0,0-.742.742v14.947a.725.725,0,0,0,.742.742h20.937a.725.725,0,0,0,.742-.742v-14.947a.725.725,0,0,0-.742-.742Z" transform="translate(269.9 218.2)" fill="#595959"/>
                    <path id="Fill-13-5" data-name="Fill-13" d="M-241.485-206.67a2.907,2.907,0,0,1-2.915-2.915,2.941,2.941,0,0,1,2.915-2.915,2.941,2.941,0,0,1,2.915,2.915,2.941,2.941,0,0,1-2.915,2.915Zm0-4.505a1.538,1.538,0,0,0-1.537,1.537,1.538,1.538,0,0,0,1.537,1.537,1.538,1.538,0,0,0,1.537-1.537,1.538,1.538,0,0,0-1.537-1.537Z" transform="translate(257.916 215.521)" fill="#595959"/>
                    <path id="Fill-14-5" data-name="Fill-14" d="M-249.305-193.99l-12.244-11.5-7,6.467-.954-1.007,7.951-7.368,13.2,12.4-.954,1.007" transform="translate(269.712 213.124)" fill="#595959"/>
                    <path id="Fill-15-5" data-name="Fill-15" d="M-231.625-193.812l-4.081-3.286-3.392,2.809-.9-1.113,4.293-3.5,4.929,4.028-.848,1.06" transform="translate(255.848 209.13)" fill="#595959"/>
                  </g>
                </g>
              </g>
              <g id="Group_63" data-name="Group 63" transform="translate(1028.708 -163.668) rotate(30)" opacity="0.36">
                <g id="Rectangle_1172-2" data-name="Rectangle 1172" transform="translate(64 796)" fill="none" stroke="#474747" stroke-width="5">
                  <rect width="366" height="444" rx="5" stroke="none"/>
                  <rect x="2.5" y="2.5" width="361" height="439" rx="2.5" fill="none"/>
                </g>
                <rect id="Rectangle_1174-2" data-name="Rectangle 1174" width="366" height="98" rx="5" transform="translate(64 1142)" fill="#474747"/>
                <rect id="Rectangle_1175-2" data-name="Rectangle 1175" width="166" height="21" rx="10.5" transform="translate(106 913)" fill="#474747"/>
                <g id="Repeat_Grid_2-2" data-name="Repeat Grid 2" transform="translate(357 848)" clip-path="url(#clip-path)">
                  <g transform="translate(-366 -853)">
                    <rect id="Rectangle_1184-4" data-name="Rectangle 1184" width="24" height="4" rx="2" transform="translate(366 853)" fill="#474747"/>
                  </g>
                  <g transform="translate(-366 -846)">
                    <rect id="Rectangle_1184-5" data-name="Rectangle 1184" width="24" height="4" rx="2" transform="translate(366 853)" fill="#474747"/>
                  </g>
                  <g transform="translate(-366 -839)">
                    <rect id="Rectangle_1184-6" data-name="Rectangle 1184" width="24" height="4" rx="2" transform="translate(366 853)" fill="#474747"/>
                  </g>
                </g>
                <rect id="Rectangle_1176-2" data-name="Rectangle 1176" width="243" height="21" rx="10.5" transform="translate(106 952)" fill="#474747"/>
                <rect id="Rectangle_1177-2" data-name="Rectangle 1177" width="275" height="21" rx="10.5" transform="translate(106 991)" fill="#474747"/>
                <rect id="Rectangle_1178-2" data-name="Rectangle 1178" width="275" height="21" rx="10.5" transform="translate(106 1052)" fill="#474747"/>
                <rect id="Rectangle_1183-2" data-name="Rectangle 1183" width="186" height="21" rx="10.5" transform="translate(106 1089)" fill="#474747"/>
                <g id="iconfinder_picture_1814111_1_6" data-name="iconfinder_picture_1814111 (1)" transform="translate(98.156 833.8)">
                  <g id="Icon-Image-6" data-name="Icon-Image" transform="translate(8.1 13.8)">
                    <path id="Fill-12-6" data-name="Fill-12" d="M-246.737-198.8h-20.937a2.24,2.24,0,0,1-2.226-2.226v-14.947a2.24,2.24,0,0,1,2.226-2.226h20.937a2.24,2.24,0,0,1,2.226,2.226v14.947a2.24,2.24,0,0,1-2.226,2.226Zm-20.99-17.969a.725.725,0,0,0-.742.742v14.947a.725.725,0,0,0,.742.742h20.937a.725.725,0,0,0,.742-.742v-14.947a.725.725,0,0,0-.742-.742Z" transform="translate(269.9 218.2)" fill="#595959"/>
                    <path id="Fill-13-6" data-name="Fill-13" d="M-241.485-206.67a2.907,2.907,0,0,1-2.915-2.915,2.941,2.941,0,0,1,2.915-2.915,2.941,2.941,0,0,1,2.915,2.915,2.941,2.941,0,0,1-2.915,2.915Zm0-4.505a1.538,1.538,0,0,0-1.537,1.537,1.538,1.538,0,0,0,1.537,1.537,1.538,1.538,0,0,0,1.537-1.537,1.538,1.538,0,0,0-1.537-1.537Z" transform="translate(257.916 215.521)" fill="#595959"/>
                    <path id="Fill-14-6" data-name="Fill-14" d="M-249.305-193.99l-12.244-11.5-7,6.467-.954-1.007,7.951-7.368,13.2,12.4-.954,1.007" transform="translate(269.712 213.124)" fill="#595959"/>
                    <path id="Fill-15-6" data-name="Fill-15" d="M-231.625-193.812l-4.081-3.286-3.392,2.809-.9-1.113,4.293-3.5,4.929,4.028-.848,1.06" transform="translate(255.848 209.13)" fill="#595959"/>
                  </g>
                </g>
              </g>
              <g id="Group_68" data-name="Group 68" transform="translate(1749.172 156.452) rotate(30)" opacity="0.36">
                <g id="Rectangle_1172-3" data-name="Rectangle 1172" transform="translate(64 796)" fill="none" stroke="#474747" stroke-width="5">
                  <rect width="366" height="444" rx="5" stroke="none"/>
                  <rect x="2.5" y="2.5" width="361" height="439" rx="2.5" fill="none"/>
                </g>
                <rect id="Rectangle_1174-3" data-name="Rectangle 1174" width="366" height="98" rx="5" transform="translate(64 1142)" fill="#474747"/>
                <rect id="Rectangle_1175-3" data-name="Rectangle 1175" width="166" height="21" rx="10.5" transform="translate(106 913)" fill="#474747"/>
                <g id="Repeat_Grid_2-3" data-name="Repeat Grid 2" transform="translate(357 848)" clip-path="url(#clip-path)">
                  <g transform="translate(-366 -853)">
                    <rect id="Rectangle_1184-7" data-name="Rectangle 1184" width="24" height="4" rx="2" transform="translate(366 853)" fill="#474747"/>
                  </g>
                  <g transform="translate(-366 -846)">
                    <rect id="Rectangle_1184-8" data-name="Rectangle 1184" width="24" height="4" rx="2" transform="translate(366 853)" fill="#474747"/>
                  </g>
                  <g transform="translate(-366 -839)">
                    <rect id="Rectangle_1184-9" data-name="Rectangle 1184" width="24" height="4" rx="2" transform="translate(366 853)" fill="#474747"/>
                  </g>
                </g>
                <rect id="Rectangle_1176-3" data-name="Rectangle 1176" width="243" height="21" rx="10.5" transform="translate(106 952)" fill="#474747"/>
                <rect id="Rectangle_1177-3" data-name="Rectangle 1177" width="275" height="21" rx="10.5" transform="translate(106 991)" fill="#474747"/>
                <rect id="Rectangle_1178-3" data-name="Rectangle 1178" width="275" height="21" rx="10.5" transform="translate(106 1052)" fill="#474747"/>
                <rect id="Rectangle_1183-3" data-name="Rectangle 1183" width="186" height="21" rx="10.5" transform="translate(106 1089)" fill="#474747"/>
                <g id="iconfinder_picture_1814111_1_7" data-name="iconfinder_picture_1814111 (1)" transform="translate(98.156 833.8)">
                  <g id="Icon-Image-7" data-name="Icon-Image" transform="translate(8.1 13.8)">
                    <path id="Fill-12-7" data-name="Fill-12" d="M-246.737-198.8h-20.937a2.24,2.24,0,0,1-2.226-2.226v-14.947a2.24,2.24,0,0,1,2.226-2.226h20.937a2.24,2.24,0,0,1,2.226,2.226v14.947a2.24,2.24,0,0,1-2.226,2.226Zm-20.99-17.969a.725.725,0,0,0-.742.742v14.947a.725.725,0,0,0,.742.742h20.937a.725.725,0,0,0,.742-.742v-14.947a.725.725,0,0,0-.742-.742Z" transform="translate(269.9 218.2)" fill="#595959"/>
                    <path id="Fill-13-7" data-name="Fill-13" d="M-241.485-206.67a2.907,2.907,0,0,1-2.915-2.915,2.941,2.941,0,0,1,2.915-2.915,2.941,2.941,0,0,1,2.915,2.915,2.941,2.941,0,0,1-2.915,2.915Zm0-4.505a1.538,1.538,0,0,0-1.537,1.537,1.538,1.538,0,0,0,1.537,1.537,1.538,1.538,0,0,0,1.537-1.537,1.538,1.538,0,0,0-1.537-1.537Z" transform="translate(257.916 215.521)" fill="#595959"/>
                    <path id="Fill-14-7" data-name="Fill-14" d="M-249.305-193.99l-12.244-11.5-7,6.467-.954-1.007,7.951-7.368,13.2,12.4-.954,1.007" transform="translate(269.712 213.124)" fill="#595959"/>
                    <path id="Fill-15-7" data-name="Fill-15" d="M-231.625-193.812l-4.081-3.286-3.392,2.809-.9-1.113,4.293-3.5,4.929,4.028-.848,1.06" transform="translate(255.848 209.13)" fill="#595959"/>
                  </g>
                </g>
              </g>
              <g id="Group_57" data-name="Group 57" transform="translate(631.609 -1041.875) rotate(30)" opacity="0.36">
                <g id="Rectangle_1165" data-name="Rectangle 1165" transform="translate(453 796)" fill="none" stroke="#474747" stroke-width="5">
                  <rect width="366" height="444" rx="5" stroke="none"/>
                  <rect x="2.5" y="2.5" width="361" height="439" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_1168" data-name="Rectangle 1168" transform="translate(453 917)" fill="none" stroke="#474747" stroke-width="5">
                  <rect width="366" height="323" rx="5" stroke="none"/>
                  <rect x="2.5" y="2.5" width="361" height="318" rx="2.5" fill="none"/>
                </g>
                <rect id="Rectangle_1166" data-name="Rectangle 1166" width="115" height="444" rx="5" transform="translate(453 796)" fill="#474747"/>
                <rect id="Rectangle_1169" data-name="Rectangle 1169" width="166" height="21" rx="10.5" transform="translate(596 950)" fill="#474747"/>
                <rect id="Rectangle_1170" data-name="Rectangle 1170" width="110" height="21" rx="10.5" transform="translate(596 989)" fill="#474747"/>
                <rect id="Rectangle_1171" data-name="Rectangle 1171" width="186" height="21" rx="10.5" transform="translate(596 1052)" fill="#474747"/>
                <rect id="Rectangle_1171-2" data-name="Rectangle 1171" width="186" height="21" rx="10.5" transform="translate(596 1089)" fill="#474747"/>
                <rect id="Rectangle_1171-3" data-name="Rectangle 1171" width="186" height="21" rx="10.5" transform="translate(596 1126)" fill="#474747"/>
                <rect id="Rectangle_1167" data-name="Rectangle 1167" width="81" height="21" rx="10.5" transform="translate(470 916)" fill="#343434"/>
                <rect id="Rectangle_1167-2" data-name="Rectangle 1167" width="81" height="21" rx="10.5" transform="translate(470 950)" fill="#343434"/>
                <rect id="Rectangle_1167-3" data-name="Rectangle 1167" width="81" height="21" rx="10.5" transform="translate(470 984)" fill="#343434"/>
                <rect id="Rectangle_1167-4" data-name="Rectangle 1167" width="81" height="21" rx="10.5" transform="translate(470 1018)" fill="#343434"/>
                <g id="iconfinder_picture_1814111_1_8" data-name="iconfinder_picture_1814111 (1)" transform="translate(655.156 833.8)">
                  <g id="Icon-Image-8" data-name="Icon-Image" transform="translate(8.1 13.8)">
                    <path id="Fill-12-8" data-name="Fill-12" d="M-246.737-198.8h-20.937a2.24,2.24,0,0,1-2.226-2.226v-14.947a2.24,2.24,0,0,1,2.226-2.226h20.937a2.24,2.24,0,0,1,2.226,2.226v14.947a2.24,2.24,0,0,1-2.226,2.226Zm-20.99-17.969a.725.725,0,0,0-.742.742v14.947a.725.725,0,0,0,.742.742h20.937a.725.725,0,0,0,.742-.742v-14.947a.725.725,0,0,0-.742-.742Z" transform="translate(269.9 218.2)" fill="#595959"/>
                    <path id="Fill-13-8" data-name="Fill-13" d="M-241.485-206.67a2.907,2.907,0,0,1-2.915-2.915,2.941,2.941,0,0,1,2.915-2.915,2.941,2.941,0,0,1,2.915,2.915,2.941,2.941,0,0,1-2.915,2.915Zm0-4.505a1.538,1.538,0,0,0-1.537,1.537,1.538,1.538,0,0,0,1.537,1.537,1.538,1.538,0,0,0,1.537-1.537,1.538,1.538,0,0,0-1.537-1.537Z" transform="translate(257.916 215.521)" fill="#595959"/>
                    <path id="Fill-14-8" data-name="Fill-14" d="M-249.305-193.99l-12.244-11.5-7,6.467-.954-1.007,7.951-7.368,13.2,12.4-.954,1.007" transform="translate(269.712 213.124)" fill="#595959"/>
                    <path id="Fill-15-8" data-name="Fill-15" d="M-231.625-193.812l-4.081-3.286-3.392,2.809-.9-1.113,4.293-3.5,4.929,4.028-.848,1.06" transform="translate(255.848 209.13)" fill="#595959"/>
                  </g>
                </g>
                <circle id="Ellipse_16" data-name="Ellipse 16" cx="22" cy="22" r="22" transform="translate(489 835)" fill="#474747" stroke="#343434" stroke-width="3"/>
              </g>
              <g id="Group_60" data-name="Group 60" transform="translate(1048.306 -191.613) rotate(30)" opacity="0.36">
                <g id="Rectangle_1165-2" data-name="Rectangle 1165" transform="translate(453 796)" fill="none" stroke="#474747" stroke-width="5">
                  <rect width="366" height="444" rx="5" stroke="none"/>
                  <rect x="2.5" y="2.5" width="361" height="439" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_1168-2" data-name="Rectangle 1168" transform="translate(453 917)" fill="none" stroke="#474747" stroke-width="5">
                  <rect width="366" height="323" rx="5" stroke="none"/>
                  <rect x="2.5" y="2.5" width="361" height="318" rx="2.5" fill="none"/>
                </g>
                <rect id="Rectangle_1166-2" data-name="Rectangle 1166" width="115" height="444" rx="5" transform="translate(453 796)" fill="#474747"/>
                <rect id="Rectangle_1169-2" data-name="Rectangle 1169" width="166" height="21" rx="10.5" transform="translate(596 950)" fill="#474747"/>
                <rect id="Rectangle_1170-2" data-name="Rectangle 1170" width="110" height="21" rx="10.5" transform="translate(596 989)" fill="#474747"/>
                <rect id="Rectangle_1171-4" data-name="Rectangle 1171" width="186" height="21" rx="10.5" transform="translate(596 1052)" fill="#474747"/>
                <rect id="Rectangle_1171-5" data-name="Rectangle 1171" width="186" height="21" rx="10.5" transform="translate(596 1089)" fill="#474747"/>
                <rect id="Rectangle_1171-6" data-name="Rectangle 1171" width="186" height="21" rx="10.5" transform="translate(596 1126)" fill="#474747"/>
                <rect id="Rectangle_1167-5" data-name="Rectangle 1167" width="81" height="21" rx="10.5" transform="translate(470 916)" fill="#343434"/>
                <rect id="Rectangle_1167-6" data-name="Rectangle 1167" width="81" height="21" rx="10.5" transform="translate(470 950)" fill="#343434"/>
                <rect id="Rectangle_1167-7" data-name="Rectangle 1167" width="81" height="21" rx="10.5" transform="translate(470 984)" fill="#343434"/>
                <rect id="Rectangle_1167-8" data-name="Rectangle 1167" width="81" height="21" rx="10.5" transform="translate(470 1018)" fill="#343434"/>
                <g id="iconfinder_picture_1814111_1_9" data-name="iconfinder_picture_1814111 (1)" transform="translate(655.156 833.8)">
                  <g id="Icon-Image-9" data-name="Icon-Image" transform="translate(8.1 13.8)">
                    <path id="Fill-12-9" data-name="Fill-12" d="M-246.737-198.8h-20.937a2.24,2.24,0,0,1-2.226-2.226v-14.947a2.24,2.24,0,0,1,2.226-2.226h20.937a2.24,2.24,0,0,1,2.226,2.226v14.947a2.24,2.24,0,0,1-2.226,2.226Zm-20.99-17.969a.725.725,0,0,0-.742.742v14.947a.725.725,0,0,0,.742.742h20.937a.725.725,0,0,0,.742-.742v-14.947a.725.725,0,0,0-.742-.742Z" transform="translate(269.9 218.2)" fill="#595959"/>
                    <path id="Fill-13-9" data-name="Fill-13" d="M-241.485-206.67a2.907,2.907,0,0,1-2.915-2.915,2.941,2.941,0,0,1,2.915-2.915,2.941,2.941,0,0,1,2.915,2.915,2.941,2.941,0,0,1-2.915,2.915Zm0-4.505a1.538,1.538,0,0,0-1.537,1.537,1.538,1.538,0,0,0,1.537,1.537,1.538,1.538,0,0,0,1.537-1.537,1.538,1.538,0,0,0-1.537-1.537Z" transform="translate(257.916 215.521)" fill="#595959"/>
                    <path id="Fill-14-9" data-name="Fill-14" d="M-249.305-193.99l-12.244-11.5-7,6.467-.954-1.007,7.951-7.368,13.2,12.4-.954,1.007" transform="translate(269.712 213.124)" fill="#595959"/>
                    <path id="Fill-15-9" data-name="Fill-15" d="M-231.625-193.812l-4.081-3.286-3.392,2.809-.9-1.113,4.293-3.5,4.929,4.028-.848,1.06" transform="translate(255.848 209.13)" fill="#595959"/>
                  </g>
                </g>
                <circle id="Ellipse_16-2" data-name="Ellipse 16" cx="22" cy="22" r="22" transform="translate(489 835)" fill="#474747" stroke="#343434" stroke-width="3"/>
              </g>
              <g id="Group_69" data-name="Group 69" transform="translate(0.262 -734.348) rotate(30)" opacity="0.36">
                <g id="Rectangle_1165-3" data-name="Rectangle 1165" transform="translate(453 796)" fill="none" stroke="#474747" stroke-width="5">
                  <rect width="366" height="444" rx="5" stroke="none"/>
                  <rect x="2.5" y="2.5" width="361" height="439" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_1168-3" data-name="Rectangle 1168" transform="translate(453 917)" fill="none" stroke="#474747" stroke-width="5">
                  <rect width="366" height="323" rx="5" stroke="none"/>
                  <rect x="2.5" y="2.5" width="361" height="318" rx="2.5" fill="none"/>
                </g>
                <rect id="Rectangle_1166-3" data-name="Rectangle 1166" width="115" height="444" rx="5" transform="translate(453 796)" fill="#474747"/>
                <rect id="Rectangle_1169-3" data-name="Rectangle 1169" width="166" height="21" rx="10.5" transform="translate(596 950)" fill="#474747"/>
                <rect id="Rectangle_1170-3" data-name="Rectangle 1170" width="110" height="21" rx="10.5" transform="translate(596 989)" fill="#474747"/>
                <rect id="Rectangle_1171-7" data-name="Rectangle 1171" width="186" height="21" rx="10.5" transform="translate(596 1052)" fill="#474747"/>
                <rect id="Rectangle_1171-8" data-name="Rectangle 1171" width="186" height="21" rx="10.5" transform="translate(596 1089)" fill="#474747"/>
                <rect id="Rectangle_1171-9" data-name="Rectangle 1171" width="186" height="21" rx="10.5" transform="translate(596 1126)" fill="#474747"/>
                <rect id="Rectangle_1167-9" data-name="Rectangle 1167" width="81" height="21" rx="10.5" transform="translate(470 916)" fill="#343434"/>
                <rect id="Rectangle_1167-10" data-name="Rectangle 1167" width="81" height="21" rx="10.5" transform="translate(470 950)" fill="#343434"/>
                <rect id="Rectangle_1167-11" data-name="Rectangle 1167" width="81" height="21" rx="10.5" transform="translate(470 984)" fill="#343434"/>
                <rect id="Rectangle_1167-12" data-name="Rectangle 1167" width="81" height="21" rx="10.5" transform="translate(470 1018)" fill="#343434"/>
                <g id="iconfinder_picture_1814111_1_10" data-name="iconfinder_picture_1814111 (1)" transform="translate(655.156 833.8)">
                  <g id="Icon-Image-10" data-name="Icon-Image" transform="translate(8.1 13.8)">
                    <path id="Fill-12-10" data-name="Fill-12" d="M-246.737-198.8h-20.937a2.24,2.24,0,0,1-2.226-2.226v-14.947a2.24,2.24,0,0,1,2.226-2.226h20.937a2.24,2.24,0,0,1,2.226,2.226v14.947a2.24,2.24,0,0,1-2.226,2.226Zm-20.99-17.969a.725.725,0,0,0-.742.742v14.947a.725.725,0,0,0,.742.742h20.937a.725.725,0,0,0,.742-.742v-14.947a.725.725,0,0,0-.742-.742Z" transform="translate(269.9 218.2)" fill="#595959"/>
                    <path id="Fill-13-10" data-name="Fill-13" d="M-241.485-206.67a2.907,2.907,0,0,1-2.915-2.915,2.941,2.941,0,0,1,2.915-2.915,2.941,2.941,0,0,1,2.915,2.915,2.941,2.941,0,0,1-2.915,2.915Zm0-4.505a1.538,1.538,0,0,0-1.537,1.537,1.538,1.538,0,0,0,1.537,1.537,1.538,1.538,0,0,0,1.537-1.537,1.538,1.538,0,0,0-1.537-1.537Z" transform="translate(257.916 215.521)" fill="#595959"/>
                    <path id="Fill-14-10" data-name="Fill-14" d="M-249.305-193.99l-12.244-11.5-7,6.467-.954-1.007,7.951-7.368,13.2,12.4-.954,1.007" transform="translate(269.712 213.124)" fill="#595959"/>
                    <path id="Fill-15-10" data-name="Fill-15" d="M-231.625-193.812l-4.081-3.286-3.392,2.809-.9-1.113,4.293-3.5,4.929,4.028-.848,1.06" transform="translate(255.848 209.13)" fill="#595959"/>
                  </g>
                </g>
                <circle id="Ellipse_16-3" data-name="Ellipse 16" cx="22" cy="22" r="22" transform="translate(489 835)" fill="#474747" stroke="#343434" stroke-width="3"/>
              </g>
              <g id="Group_58" data-name="Group 58" transform="translate(584.109 -959.602) rotate(30)" opacity="0.36">
                <g id="Rectangle_1153" data-name="Rectangle 1153" transform="translate(846 796)" fill="none" stroke="#474747" stroke-width="5">
                  <rect width="366" height="444" rx="5" stroke="none"/>
                  <rect x="2.5" y="2.5" width="361" height="439" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_1162" data-name="Rectangle 1162" transform="translate(879 1073)" fill="none" stroke="#474747" stroke-width="5">
                  <rect width="132" height="138" rx="5" stroke="none"/>
                  <rect x="2.5" y="2.5" width="127" height="133" rx="2.5" fill="none"/>
                </g>
                <g id="Rectangle_1163" data-name="Rectangle 1163" transform="translate(1039 1073)" fill="none" stroke="#474747" stroke-width="5">
                  <rect width="137" height="138" rx="5" stroke="none"/>
                  <rect x="2.5" y="2.5" width="132" height="133" rx="2.5" fill="none"/>
                </g>
                <rect id="Rectangle_1157" data-name="Rectangle 1157" width="221" height="21" rx="10.5" transform="translate(877 977)" fill="#474747"/>
                <rect id="Rectangle_1164" data-name="Rectangle 1164" width="299" height="21" rx="10.5" transform="translate(877 1016)" fill="#474747"/>
                <path id="Path_39" data-name="Path 39" d="M9783.593,5330s33.307-56.167,136.384-43.4,105.615-51.77,222.077-13.769c1,1,0-100.539,0-100.539H9783.593Z" transform="translate(-8934 -4374)" fill="#474747"/>
                <circle id="Ellipse_12" data-name="Ellipse 12" cx="9" cy="9" r="9" transform="translate(1134 877)" fill="#474747" stroke="#343434" stroke-width="3"/>
                <circle id="Ellipse_13" data-name="Ellipse 13" cx="9" cy="9" r="9" transform="translate(1055 899)" fill="#474747" stroke="#343434" stroke-width="3"/>
                <circle id="Ellipse_14" data-name="Ellipse 14" cx="9" cy="9" r="9" transform="translate(972 903)" fill="#474747" stroke="#343434" stroke-width="3"/>
                <circle id="Ellipse_15" data-name="Ellipse 15" cx="9" cy="9" r="9" transform="translate(878 917)" fill="#474747" stroke="#343434" stroke-width="3"/>
              </g>
              

              </g>
 
          </svg>
    </div></div>
        
        
<div id="animate" v-if="animation">
<div class="content" id="app">
<div v-if="Audio"><br><br><br><br><br>
<div class="card 1">
<div class="card_image" onclick="play()"><img src="icon0.svg"></div>
</div>
</div> <!-- div v-if audio -->
</div> <!-- div app id -->
<!-- partial -->
        </div></div>
  







<div id="apptitle">
<div v-if="title">
<div class="cardme">
<div class="card_imageme"> <img src="icon.svg" />
<img v-if="apptitlereturn" onclick="titlereturn()" src="" />
</div>

</div></div></div>







<div class="cards-list">
<div id="appone">
<div v-if="card1">
<div class="card 1">


<div class="card_image">
<img v-if="img1" onclick="clickone()" src="backgroundGf.gif">
<img v-if="img2" src="backgroundGf.jpeg" style="background: #346a68">
</div>

<p v-if="img1" style="color: white" class="card_title1 title-white" onclick="clickone()"><br><br><br><br>اضمر الصحابي</p>
<div class="card_title title-white">
<div id="scrollcard" style="overflow-x:scroll; height:225px;">
<p v-if="textproject" style="font-size:20px; color:white;">
من خلال استعراض بعض صفاته توقع من هو الصحابي صاحب هذه الصفات أو صاحب هذه المواقف </p>
<p v-if="guideone1" class="guidesize">{{guide11}}</p>
<p v-if="guidetwo1" class="guidesize">{{guide12}}</p>
<p v-if="guidethree1" class="guidesize">{{guide13}}</p>
<p v-if="guidefour1" class="guidesize">{{guide14}}</p>
<p v-if="guidefive1" class="guidesize">{{guide15}}</p>
<p v-if="guideone2" class="guidesize">{{guide21}}</p>
<p v-if="guidetwo2" class="guidesize">{{guide22}}</p>
<p v-if="guidethree2" class="guidesize">{{guide23}}</p>
<p v-if="guidefour2" class="guidesize">{{guide24}}</p>
<p v-if="guidefive2" class="guidesize">{{guide25}}</p>
<p v-if="guideone3" class="guidesize">{{guide31}}</p>
<p v-if="guidetwo3" class="guidesize">{{guide32}}</p>
<p v-if="guidethree3" class="guidesize">{{guide33}}</p>
<p v-if="guidefour3" class="guidesize">{{guide34}}</p>
<p v-if="guidefive3" class="guidesize">{{guide35}}</p>
<p v-if="guideone4" class="guidesize">{{guide41}}</p>
<p v-if="guidetwo4" class="guidesize">{{guide42}}</p>
<p v-if="guidethree4" class="guidesize">{{guide43}}</p>
<p v-if="guidefour4" class="guidesize">{{guide44}}</p>
<p v-if="guidefive4" class="guidesize">{{guide45}}</p>
<p v-if="guideone5" class="guidesize">{{guide51}}</p>
<p v-if="guidetwo5" class="guidesize">{{guide52}}</p>
<p v-if="guidethree5" class="guidesize">{{guide53}}</p>
<p v-if="guidefour5" class="guidesize">{{guide54}}</p>
<p v-if="guidefive5" class="guidesize">{{guide55}}</p>
<p v-if="guideone6" class="guidesize">{{guide61}}</p>
<p v-if="guidetwo6" class="guidesize">{{guide62}}</p>
<p v-if="guidethree6" class="guidesize">{{guide63}}</p>
<p v-if="guidefour6" class="guidesize">{{guide64}}</p>
<p v-if="guidefive6" class="guidesize">{{guide65}}</p>
<p v-if="guideone7" class="guidesize">{{guide71}}</p>
<p v-if="guidetwo7" class="guidesize">{{guide72}}</p>
<p v-if="guidethree7" class="guidesize">{{guide73}}</p>
<p v-if="guidefour7" class="guidesize">{{guide74}}</p>
<p v-if="guidefive7" class="guidesize">{{guide75}}</p>
<p v-if="guideone8" class="guidesize">{{guide81}}</p>
<p v-if="guidetwo8" class="guidesize">{{guide82}}</p>
<p v-if="guidethree8" class="guidesize">{{guide83}}</p>
<p v-if="guidefour8" class="guidesize">{{guide84}}</p>
<p v-if="guidefive8" class="guidesize">{{guide85}}</p>
<p v-if="guideone9" class="guidesize">{{guide91}}</p>
<p v-if="guidetwo9" class="guidesize">{{guide92}}</p>
<p v-if="guidethree9" class="guidesize">{{guide93}}</p>
<p v-if="guidefour9" class="guidesize">{{guide94}}</p>
<p v-if="guidefive9" class="guidesize">{{guide95}}</p>
<p v-if="guideone10" class="guidesize">{{guide101}}</p>
<p v-if="guidetwo10" class="guidesize">{{guide102}}</p>
<p v-if="guidethree10" class="guidesize">{{guide103}}</p>
<p v-if="guidefour10" class="guidesize">{{guide104}}</p>
<p v-if="guidefive10" class="guidesize">{{guide105}}</p></div></div></div>
</div> <!-- div v-if card1 -->
<br>

<!-- next btn underline -->
<p class="nextbtn" onclick="guideone11()" v-if="textproject">التالي</p>
<p class="nextbtn" onclick="guideone12()" v-if="guideone1">التالي</p>
<p class="nextbtn" onclick="guideone13()" v-if="guidetwo1">التالي</p>
<p class="nextbtn" onclick="guideone14()" v-if="guidethree1">التالي</p>
<p class="nextbtn" onclick="guideone15()" v-if="guidefour1">التالي</p>
<p class="nextbtn" onclick="ansrguide1()" v-if="answersguide1">التالي</p>
<p class="nextbtn" onclick="guideone20()" v-if="guide2">التالي</p>
<p class="nextbtn" onclick="guideone21()" v-if="guideone2">التالي</p>
<p class="nextbtn" onclick="guideone22()" v-if="guidetwo2">التالي</p>
<p class="nextbtn" onclick="guideone23()" v-if="guidethree2">التالي</p>
<p class="nextbtn" onclick="guideone24()" v-if="guidefour2">التالي</p>
<p class="nextbtn" onclick="ansrguide2()" v-if="answersguide2">التالي</p>
<p class="nextbtn" onclick="guideone30()" v-if="guide3">التالي</p>
<p class="nextbtn" onclick="guideone31()" v-if="guideone3">التالي</p>
<p class="nextbtn" onclick="guideone32()" v-if="guidetwo3">التالي</p>
<p class="nextbtn" onclick="guideone33()" v-if="guidethree3">التالي</p>
<p class="nextbtn" onclick="guideone34()" v-if="guidefour3">التالي</p>
<p class="nextbtn" onclick="ansrguide3()" v-if="answersguide3">التالي</p>
<p class="nextbtn" onclick="guideone40()" v-if="guide4">التالي</p>
<p class="nextbtn" onclick="guideone41()" v-if="guideone4">التالي</p>
<p class="nextbtn" onclick="guideone42()" v-if="guidetwo4">التالي</p>
<p class="nextbtn" onclick="guideone43()" v-if="guidethree4">التالي</p>
<p class="nextbtn" onclick="guideone44()" v-if="guidefour4">التالي</p>
<p class="nextbtn" onclick="ansrguide4()" v-if="answersguide4">التالي</p>
<p class="nextbtn" onclick="guideone50()" v-if="guide5">التالي</p>
<p class="nextbtn" onclick="guideone51()" v-if="guideone5">التالي</p>
<p class="nextbtn" onclick="guideone52()" v-if="guidetwo5">التالي</p>
<p class="nextbtn" onclick="guideone53()" v-if="guidethree5">التالي</p>
<p class="nextbtn" onclick="guideone54()" v-if="guidefour5">التالي</p>
<p class="nextbtn" onclick="ansrguide5()" v-if="answersguide5">التالي</p>
<p class="nextbtn" onclick="guideone60()" v-if="guide6">التالي</p>
<p class="nextbtn" onclick="guideone61()" v-if="guideone6">التالي</p>
<p class="nextbtn" onclick="guideone62()" v-if="guidetwo6">التالي</p>
<p class="nextbtn" onclick="guideone63()" v-if="guidethree6">التالي</p>
<p class="nextbtn" onclick="guideone64()" v-if="guidefour6">التالي</p>
<p class="nextbtn" onclick="ansrguide6()" v-if="answersguide6">التالي</p>
<p class="nextbtn" onclick="guideone70()" v-if="guide7">التالي</p>
<p class="nextbtn" onclick="guideone71()" v-if="guideone7">التالي</p>
<p class="nextbtn" onclick="guideone72()" v-if="guidetwo7">التالي</p>
<p class="nextbtn" onclick="guideone73()" v-if="guidethree7">التالي</p>
<p class="nextbtn" onclick="guideone74()" v-if="guidefour7">التالي</p>
<p class="nextbtn" onclick="ansrguide7()" v-if="answersguide7">التالي</p>
<p class="nextbtn" onclick="guideone80()" v-if="guide8">التالي</p>
<p class="nextbtn" onclick="guideone81()" v-if="guideone8">التالي</p>
<p class="nextbtn" onclick="guideone82()" v-if="guidetwo8">التالي</p>
<p class="nextbtn" onclick="guideone83()" v-if="guidethree8">التالي</p>
<p class="nextbtn" onclick="guideone84()" v-if="guidefour8">التالي</p>
<p class="nextbtn" onclick="ansrguide8()" v-if="answersguide8">التالي</p>
<p class="nextbtn" onclick="guideone90()" v-if="guide9">التالي</p>
<p class="nextbtn" onclick="guideone91()" v-if="guideone9">التالي</p>
<p class="nextbtn" onclick="guideone92()" v-if="guidetwo9">التالي</p>
<p class="nextbtn" onclick="guideone93()" v-if="guidethree9">التالي</p>
<p class="nextbtn" onclick="guideone94()" v-if="guidefour9">التالي</p>
<p class="nextbtn" onclick="ansrguide9()" v-if="answersguide9">التالي</p>
<p class="nextbtn" onclick="guideone100()" v-if="guide10">التالي</p>
<p class="nextbtn" onclick="guideone101()" v-if="guideone10">التالي</p>
<p class="nextbtn" onclick="guideone102()" v-if="guidetwo10">التالي</p>
<p class="nextbtn" onclick="guideone103()" v-if="guidethree10">التالي</p>
<p class="nextbtn" onclick="guideone104()" v-if="guidefour10">التالي</p>
<p class="nextbtn" onclick="ansrguide10()" v-if="answersguide10">التالي</p>
<p class="nextbtn" onclick="guideone110()" v-if="guide110">التالي</p>
</div>




<div id="boxone" v-if="boxone">
<p v-if="lasttext" style="text-align:center; font-size:35px; color:white;"><br><br><br><br>انتهت المسابقة <br> على أمل أن نجدد الأسئلة <br> ونزيدها قريباً بأذن الله ⁦❤️⁩</p>
<p v-if="points" style="text-align:center; font-size:35px; color:white;">النقاط: 50/{{point}}</p>



<div id="formAnswer" v-if="inputansr1" >
<label for="Answer">ادخل إجابتك</label>
<input type="text" id="answerA1" name="Answer" placeholder="ادخل إجابتك :)">
<input type="submit" onclick="answer1()" value="ارسل"><br><br>
<input type="submit" onclick="answer1(1)" value="خيارات (نقطة واحده بدل خمس نقاط)">
</div> <!-- div v-if inputansr1 -->
<div v-if="optionansr1" id="optionAnswers">
<div  class="boxfull" v-if="optionA1">
اختر الإجابة الصحيحة:
</div><br>
<div id="scrollansr">
<div class="box" id="fiveA" v-if="five1" onclick="fouroneA(5)">
{{fiveA1}}
</div><br>
<div class="box" id="fourA" v-if="four1" onclick="fouroneA(4)">
{{fourA1}}
</div><br>
<div class="box" id="oneA" v-if="one1" onclick="fouroneA(1)">
{{oneA1}}
</div><br>
<div class="box" id="twoA" v-if="two1" onclick="fouroneA(2)">
{{twoA1}}
</div><br>
<div class="box" id="threeA" v-if="three1" onclick="fouoneA()">
{{threeA1}}
</div>
</div> <!-- div scrollansr -->
</div> <!-- div v-if optionansr1 -->

<div id="formAnswer" v-if="inputansr2" >
<label for="Answer">ادخل إجابتك</label>
<input type="text" id="answerA2" name="Answer" placeholder="ادخل إجابتك :)">
<input type="submit" onclick="answer2()" value="ارسل"><br><br>
<input type="submit" onclick="answer2(1)" value="خيارات (نقطة واحده بدل خمس نقاط)">
</div> <!-- div v-if inputansr2 -->
<div v-if="optionansr2" id="optionAnswers">
<div  class="boxfull" v-if="optionA2">
اختر الإجابة الصحيحة:
</div><br>
<div id="scrollansr">
<div class="box" id="threeA" v-if="three2" onclick="fouoneA2()">
{{threeA2}}
</div><br>
<div class="box" id="fiveA" v-if="five2" onclick="fouroneA2(5)">
{{fiveA2}}
</div><br>
<div class="box" id="fourA" v-if="four2" onclick="fouroneA2(4)">
{{fourA2}}
</div><br>
<div class="box" id="oneA" v-if="one2" onclick="fouroneA2(1)">
{{oneA2}}
</div><br>
<div class="box" id="twoA" v-if="two2" onclick="fouroneA2(2)">
{{twoA2}}
</div>
</div> <!-- div scrollansr -->
</div> <!-- div v-if optionansr2 -->

<div id="formAnswer" v-if="inputansr3" >
<label for="Answer">ادخل إجابتك</label>
<input type="text" id="answerA3" name="Answer" placeholder="ادخل إجابتك :)">
<input type="submit" onclick="answer3()" value="ارسل"><br><br>
<input type="submit" onclick="answer3(1)" value="خيارات (نقطة واحده بدل خمس نقاط)">
</div> <!-- div v-if inputansr3 -->
<div v-if="optionansr3" id="optionAnswers">
<div  class="boxfull" v-if="optionA3">
اختر الإجابة الصحيحة:
</div><br>
<div id="scrollansr">
<div class="box" id="fiveA" v-if="five3" onclick="fouroneA3(5)">
{{fiveA3}}
</div><br>
<div class="box" id="fourA" v-if="four3" onclick="fouroneA3(4)">
{{fourA3}}
</div><br>
<div class="box" id="threeA" v-if="three3" onclick="fouoneA3()">
{{threeA3}}
</div><br>
<div class="box" id="oneA" v-if="one3" onclick="fouroneA3(1)">
{{oneA3}}
</div><br>
<div class="box" id="twoA" v-if="two3" onclick="fouroneA3(2)">
{{twoA3}}
</div>
</div> <!-- div scrollansr -->
</div> <!-- div v-if optionansr3 -->

<div id="formAnswer" v-if="inputansr4" >
<label for="Answer">ادخل إجابتك</label>
<input type="text" id="answerA4" name="Answer" placeholder="ادخل إجابتك :)">
<input type="submit" onclick="answer4()" value="ارسل"><br><br>
<input type="submit" onclick="answer4(1)" value="خيارات (نقطة واحده بدل خمس نقاط)">
</div> <!-- div v-if inputansr4 -->
<div v-if="optionansr4" id="optionAnswers">
<div  class="boxfull" v-if="optionA4">
اختر الإجابة الصحيحة:
</div><br>
<div id="scrollansr">
<div class="box" id="fiveA" v-if="five4" onclick="fouroneA4(5)">
{{fiveA4}}
</div><br>
<div class="box" id="fourA" v-if="four4" onclick="fouroneA4(4)">
{{fourA4}}
</div><br>
<div class="box" id="oneA" v-if="one4" onclick="fouroneA4(1)">
{{oneA4}}
</div><br>
<div class="box" id="threeA" v-if="three4" onclick="fouoneA4()">
{{threeA4}}
</div><br>
<div class="box" id="twoA" v-if="two4" onclick="fouroneA4(2)">
{{twoA4}}
</div>
</div> <!-- div scrollansr -->
</div> <!-- div v-if optionansr4 -->

<div id="formAnswer" v-if="inputansr5" >
<label for="Answer">ادخل إجابتك</label>
<input type="text" id="answerA5" name="Answer" placeholder="ادخل إجابتك :)">
<input type="submit" onclick="answer5()" value="ارسل"><br><br>
<input type="submit" onclick="answer5(1)" value="خيارات (نقطة واحده بدل خمس نقاط)">
</div> <!-- div v-if inputansr5 -->
<div v-if="optionansr5" id="optionAnswers">
<div  class="boxfull" v-if="optionA5">
اختر الإجابة الصحيحة:
</div><br>
<div id="scrollansr">
<div class="box" id="fiveA" v-if="five5" onclick="fouroneA5(5)">
{{fiveA5}}
</div><br>
<div class="box" id="fourA" v-if="four5" onclick="fouroneA5(4)">
{{fourA5}}
</div><br>
<div class="box" id="oneA" v-if="one5" onclick="fouroneA5(1)">
{{oneA5}}
</div><br>
<div class="box" id="twoA" v-if="two5" onclick="fouroneA5(2)">
{{twoA5}}
</div><br>
<div class="box" id="threeA" v-if="three5" onclick="fouoneA5()">
{{threeA5}}
</div>
</div> <!-- div scrollansr -->
</div> <!-- div v-if optionansr5 -->

<div id="formAnswer" v-if="inputansr6" >
<label for="Answer">ادخل إجابتك</label>
<input type="text" id="answerA6" name="Answer" placeholder="ادخل إجابتك :)">
<input type="submit" onclick="answer6()" value="ارسل"><br><br>
<input type="submit" onclick="answer6(1)" value="خيارات (نقطة واحده بدل خمس نقاط)">
</div> <!-- div v-if inputansr2 -->
<div v-if="optionansr6" id="optionAnswers">
<div  class="boxfull" v-if="optionA6">
اختر الإجابة الصحيحة:
</div><br>
<div id="scrollansr">
<div class="box" id="fiveA" v-if="five6" onclick="fouroneA6(5)">
{{fiveA6}}
</div><br>
<div class="box" id="threeA" v-if="three6" onclick="fouoneA6()">
{{threeA6}}
</div><br>
<div class="box" id="fourA" v-if="four6" onclick="fouroneA6(4)">
{{fourA6}}
</div><br>
<div class="box" id="oneA" v-if="one6" onclick="fouroneA6(1)">
{{oneA6}}
</div><br>
<div class="box" id="twoA" v-if="two6" onclick="fouroneA6(2)">
{{twoA6}}
</div>
</div> <!-- div scrollansr -->
</div> <!-- div v-if optionansr6 -->

<div id="formAnswer" v-if="inputansr7" >
<label for="Answer">ادخل إجابتك</label>
<input type="text" id="answerA7" name="Answer" placeholder="ادخل إجابتك :)">
<input type="submit" onclick="answer7()" value="ارسل"><br><br>
<input type="submit" onclick="answer7(1)" value="خيارات (نقطة واحده بدل خمس نقاط)">
</div> <!-- div v-if inputansr7 -->
<div v-if="optionansr7" id="optionAnswers">
<div  class="boxfull" v-if="optionA7">
اختر الإجابة الصحيحة:
</div><br>
<div id="scrollansr">
<div class="box" id="fiveA" v-if="five7" onclick="fouroneA7(5)">
{{fiveA7}}
</div><br>
<div class="box" id="fourA" v-if="four7" onclick="fouroneA7(4)">
{{fourA7}}
</div><br>
<div class="box" id="oneA" v-if="one7" onclick="fouroneA7(1)">
{{oneA7}}
</div><br>
<div class="box" id="twoA" v-if="two7" onclick="fouroneA7(2)">
{{twoA7}}
</div><br>
<div class="box" id="threeA" v-if="three7" onclick="fouoneA7()">
{{threeA7}}
</div>
</div> <!-- div scrollansr -->
</div> <!-- div v-if optionansr7 -->

<div id="formAnswer" v-if="inputansr8" >
<label for="Answer">ادخل إجابتك</label>
<input type="text" id="answerA8" name="Answer" placeholder="ادخل إجابتك :)">
<input type="submit" onclick="answer8()" value="ارسل"><br><br>
<input type="submit" onclick="answer8(1)" value="خيارات (نقطة واحده بدل خمس نقاط)">
</div> <!-- div v-if inputansr8 -->
<div v-if="optionansr8" id="optionAnswers">
<div  class="boxfull" v-if="optionA8">
اختر الإجابة الصحيحة:
</div><br>
<div id="scrollansr">
<div class="box" id="fiveA" v-if="five8" onclick="fouroneA8(5)">
{{fiveA8}}
</div><br>
<div class="box" id="fourA" v-if="four8" onclick="fouroneA8(4)">
{{fourA8}}
</div><br>
<div class="box" id="threeA" v-if="three8" onclick="fouoneA8()">
{{threeA8}}
</div><br>
<div class="box" id="oneA" v-if="one8" onclick="fouroneA8(1)">
{{oneA8}}
</div><br>
<div class="box" id="twoA" v-if="two8" onclick="fouroneA8(2)">
{{twoA8}}
</div>
</div> <!-- div scrollansr -->
</div> <!-- div v-if optionansr8 -->

<div id="formAnswer" v-if="inputansr9" >
<label for="Answer">ادخل إجابتك</label>
<input type="text" id="answerA9" name="Answer" placeholder="ادخل إجابتك :)">
<input type="submit" onclick="answer9()" value="ارسل"><br><br>
<input type="submit" onclick="answer9(1)" value="خيارات (نقطة واحده بدل خمس نقاط)">
</div> <!-- div v-if inputansr9 -->
<div v-if="optionansr9" id="optionAnswers">
<div  class="boxfull" v-if="optionA9">
اختر الإجابة الصحيحة:
</div><br>
<div id="scrollansr">
<div class="box" id="fiveA" v-if="five9" onclick="fouroneA9(5)">
{{fiveA9}}
</div><br>
<div class="box" id="threeA" v-if="three9" onclick="fouoneA9()">
{{threeA9}}
</div>
<div class="box" id="fourA" v-if="four9" onclick="fouroneA9(4)">
{{fourA9}}
</div><br>
<div class="box" id="oneA" v-if="one9" onclick="fouroneA9(1)">
{{oneA9}}
</div><br>
<div class="box" id="twoA" v-if="two9" onclick="fouroneA9(2)">
{{twoA9}}
</div>
</div> <!-- div scrollansr -->
</div> <!-- div v-if optionansr9 -->

<div id="formAnswer" v-if="inputansr10" >
<label for="Answer">ادخل إجابتك</label>
<input type="text" id="answerA10" name="Answer" placeholder="ادخل إجابتك :)">
<input type="submit" onclick="answer10()" value="ارسل"><br><br>
<input type="submit" onclick="answer10x()" value="خيارات (نقطة واحده بدل خمس نقاط)">
</div> <!-- div v-if inputansr10 -->
<div v-if="optionansr10" id="optionAnswers">
<div  class="boxfull" v-if="optionA10">
اختر الإجابة الصحيحة:
</div><br>
<div id="scrollansr">
<div class="box" id="threeA" v-if="three10" onclick="fouoneA10()">
{{threeA10}}
</div><br>
<div class="box" id="fiveA" v-if="five10" onclick="fouroneA10(5)">
{{fiveA10}}
</div><br>
<div class="box" id="fourA" v-if="four10" onclick="fouroneA10(4)">
{{fourA10}}
</div><br>
<div class="box" id="oneA" v-if="one10" onclick="fouroneA10(1)">
{{oneA10}}
</div><br>
<div class="box" id="twoA" v-if="two10" onclick="fouroneA10(2)">
{{twoA10}}
</div>
</div> <!-- div scrollansr -->
</div> <!-- div v-if optionansr10 -->

</div> <!-- div v-if boxone -->
</div> <!-- div complete appone -->










<!-- <div id="apptwo" v-if="card2"><div class="card 2" onclick="clicktwo()">
<div class="card_image">
<img src="http://selfrecruiter.com/wp-content/uploads/2015/07/automne-1920-1080.jpg" />
</div>
<div class="card_title title-black">
<p v-if="text">المسابقة الثانية</p> <p v-if="textproject">فكرة المسابقة الثانية</p>
</div>
</div></div>
<div id="appthree" v-if="card3"><div class="card 3" onclick="clickthree()">
<div class="card_image">
<img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" />
</div>
<div class="card_title title-white">
<p v-if="text">المسابقة الثالثة</p> <p v-if="textproject">فكرة المسابقة الثالثة</p>
</div>
</div></div>
<div id="appfour" v-if="card4"><div class="card 4" onclick="clickfour()" >
<div class="card_image">
<img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
</div>
<div class="card_title title-black">
<p v-if="text">المسابقة الرابعة</p> <p v-if="textproject">فكرة المسابقة الرابعة</p>
</div>
</div> -->
</div>


  
  
<script src="vue.js"></script>
<script src="app.js"></script>
<script src="GSAP.js"></script>
<script src="anime.js"></script>
<script src='gsap.min.js'></script>
<script src="script.js"></script>

</body>
</html>
