.goldQ {
  margin: 0;
  display: grid;
  justify-items: center;
  align-items: center;
}

.Thecircle {
  background: gold;
  padding: 1em;
  border-radius: 10px;
  width: 400px;
  clip-path: circle(10% at 90% 34%);
  transition: all .5s ease-in-out;
  cursor: pointer;
}
.Thecircle:hover {
  clip-path: circle(75%);
  background: gold;
}
.Thecircle h1 {
  color: black;
  margin: 0;
}
.Thecircle p {
  color: black;
  font-size: .8rem;
}
.Thecircle span {
  float: right;
  color: black;
  font-weight: bold;
  transition: color .5s;
  position: relative;
  margin-left: 4%;
  margin-right: 2%;
}
.Thecircle:hover span {
  color: rgba(255, 255, 255, 0);
}
