

#container_all{

  display: flex;

  flex-direction: column;

  width: 75%;

  margin: auto;

}

.container {

  width: 100%;

  background-color: #ddd; 

}

.feeling {

  text-align: right; 

  padding-top: 10px; 

  padding-bottom: 10px; 

  padding-right: 10px;

  color: white; 

}

.positive {width: 62%; background-color: #4CAF50;} 


.goldQ {
  margin: 0;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 2%;
}

.Thecircle {
  background: gold;
  padding: 1em;
  border-radius: 10px;
  width: 300px;
  clip-path: circle(10% at 90% 20%);
  transition: all .2s ease-in-out;
  cursor: pointer;
}
.Thecircle:hover {
  clip-path: circle(75%);
  background: gold;
}
.Thecircle h1 {
  color: black;
  margin: 0;
}
.Thecircle p {
  color: black;
  font-size: 1.5em;
}
.Thecircle span {
  float: right;
  color: black;
  font-weight: bold;
  transition: color .2s;
  position: relative;
  margin-left: 4%;
/*   margin-right: 2%; */
}
.Thecircle:hover span {
  color: rgba(255, 255, 255, 0);
}
