* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: screen.heightpx;
}



body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



#container_all{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
}

.container {
  width: 100%;
  border: 2px solid #9dc2d4; 
}


.goldQ {
  margin: 0;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 2%;
}

.Thecircle {
  border: 2px solid #9dc2d4;
  padding: 1em;
  margin: 30px;
  border-radius: 6px;
  width: 300px;
  transition: all .2s ease-in-out;
  cursor: auto;
}
.Thecircle:hover {
  border: 2px solid #9dc2d4;
}
.Thecircle h1 {
  color: #9dc2d4;
  margin: 0;
}
.Thecircle p {
  color: #9dc2d4;
  font-size: 1em;
}
.Thecircle span {
  float: right;
  color: #9dc2d4;
  font-weight: bold;
  transition: color .2s;
  position: relative;
  margin-left: 4%;
  margin-right: 1%;
}
.Thecircle:hover span {
  color: #9dc2d4;
}







input[type=text], select {
  background-image: url(Empty.png);
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #9dc2d4;
  border-radius: 2px;
  box-sizing: border-box;
  font-family: Yaseer;
}

input[type=submit] {
  background-image: url(Empty.png);
  width: 100%;
  color: #9dc2d4;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid #9dc2d4;
  border-radius: 2px;
  cursor: auto;
  font-family: Yaseer;
}


#formAnswer {
  padding-top: 40%;
  color: #9dc2d4 ;
  border-radius: 2px;
  width: 250px;
  height: auto;
  border: 2px solid #9dc2d4;
  padding: 20px;
  margin: 60px auto;
  font-family: Yaseer;
}
label {
  text-align:center;
}
#optionAnswers {
  height: 250px;
}

.nav {
  display: none;
}



@font-face {
  font-family: Yaseer;
  src: url(yaseer.otf);
}
html {
  height: 100%;
  margin: 0;
}
.body {width; 100%;}


.cards-list {
  font-family: Yaseer;
  z-index: 0;
  width: auto;
  display: block;
  justify-content: space-around;
  flex-wrap: wrap;
}
.nextbtn {
  border: 2px solid #9dc2d4;
  border-radius: 20px;
  font-size: 30px;
  margin: 60px auto;
  text-align: center;
  width: 300px;
  color:#9dc2d4;
}

.frontcard {}

.frontcard .front_image {
  width: inherit;
  height: inherit;
}

.frontcard .front_image img {
  width: inherit;
  height: inherit;
  border-radius: 20px;
  object-fit: cover;
}


.card {
  font-family: Yaseer;
  margin: 60px auto;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  cursor: auto;
  border: 2px solid #9dc2d4;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 20px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 20px;
  object-fit: cover;
}

.card .card_title {
  text-align:center;
  border-radius: 0px 0px 20px 20px;
  font-family: Yaseer;
  font-size: 30px;
  margin-top: -270px;
  height: 40px;
}
.card .card_title1 {
  text-align:center;
  border-radius: 0px 0px 20px 20px;
  font-family: Yaseer;
  font-size: 80px;
  margin-top: -280px;
  color: #9dc2d4
  height: 40px;
}
.card .card_title2 {
  text-align:center;
  border-radius: 0px 0px 20px 20px;
  font-family: Yaseer;
  font-size: 80px;
  margin-top: -200px;
  color: #9dc2d4
  height: 40px;
}
.title-white {
  color: #9dc2d4;
}
.title-black {
  color: black;
}

/*#scrollheader {
  overflow-x:scroll;
  position: absolute;
  top: 0%;
  height: 20%;
}
#scrollfooter {
  overflow-x:scroll;
  position: absolute;
  top: 80%;
  height: 20%;
}*/
#scrollpage {
  overflow-x:scroll;
  position: absolute;
  top: 20%;
  /*height: 60%;*/
}
#scrollcard { 
  margin-left: 20px;
  margin-right: 20px;
}
#scrollansr {
  overflow-x:scroll;
  height:150px;
}
.guidesize {
  font-size:30px;
  animation: moving 10s infinite;
  position: relative;
  color: #9dc2d4;
}

@-webkit-keyframes moving {
  from {bottom: 0px;}
  to {bottom: 100px;}
}
@keyframes moving {
  from {bottom: 0px;}
  to {bottom: 100px;}
}



.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border: 2px solid #9dc2d4;
  border-radius: 20px;
}


@media all and (max-width: 300px){
  .card-list {
    flex-direction: column;
  }
}

.box {
  margin: 5px auto;
  width: 300px;
  font-family: Yaseer;
  font-size: 30px;
  box-sizing: border-box;
  padding: 15px 30px;
  text-align: center;
  position: relative;
  color: #9dc2d4;
  background-clip: padding-box;
  border: solid 2px #9dc2d4;
  border-radius: 4px;
  font-size:20px;
}

.border {
  position: absolute;
  margin: -5px;
  border-radius: inherit;
  z-index: -1;
  color: #9dc2d4;
}






/* for me */
.cardsme-listme {
  font-family: Yaseer;
  z-index: 0;
  width: 10%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardme {
  font-family: Yaseer;
  margin: 30px auto;
  width: 130px;
  height: 90px;
  border-radius: 10px;
  cursor: auto;
}

.cardme .card_imageme {
  width: inherit;
  height: inherit;
  border-radius: 10px;
}

.cardme .card_imageme img {
  width: inherit;
  height: inherit;
  border-radius: 10px;
  object-fit: cover;
}
.cardme .card_titleme {
  text-align: center;
  border-radius: 0px 0px 20px 20px;
  font-family: Yaseer;
  font-size: 30px;
  margin-top: -100px;
  height: 40px;
}


.title-whiteme {
  color: #9dc2d4;
}

.title-blackme {
  color: black;
}
.cardme {
  font-family: Yaseer;
  margin: 30px auto;
  width: 120px;
  height: 90px;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
}

@media all and (max-width: 120px){
  .card-listme {
    flex-direction: column;
  }
}


.boxfull {
  margin: 10px auto;
  width: 300px;
  font-family: Yaseer;
  font-size: 30px;
  box-sizing: border-box;
  padding: 15px 30px;
  text-align: center;
  position: relative;
  color: #9dc2d4;
  background-clip: padding-box;
  border: solid 2px #9dc2d4;
  border-radius: 4px;
  cursor: auto;
}

.boxfull .borderfull {
  position: absolute;
  margin: -3px;
  border-radius: inherit;
  z-index: -1;
}
